/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand-1: #5865f2;
    --vp-c-brand-2: #e2221a;

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #5865f2, #e2221a);
    
    --vp-home-hero-image-filter: blur(78px);
    --vp-home-hero-image-background-image: linear-gradient(120deg, #5865f2, #e2221a);
  }